[submodule "extern/Catch2"]
	path = extern/Catch2
    url = https://github.com/catchorg/Catch2.git
    ignore = dirty
[submodule "extern/doxygen-awesome-css"]
	path = extern/doxygen-awesome-css
	url = https://github.com/jothepro/doxygen-awesome-css.git
[submodule "extern/gperftools"]
	path = extern/gperftools
	url = https://github.com/gperftools/gperftools.git
[submodule "extern/wasp"]
	path = extern/wasp
	url = https://code.ornl.gov/neams-workbench/wasp
