CMakeCache.txt
CMakeFiles
cmake_install.cmake
CMakeDoxyfile.in
detect_cuda*
*.swp
Makefile
*.a
src/test
CTestTestfile.cmake
DartConfiguration.tcl
Testing
*.cmake
tests/*tests
.cache
compile_commands.json
coverage
doc/class-doc
*.html
.vscode
doc/doctrees
doc/html
!cmake/Modules/*
*.log
*.so
*.dylib
*.pt
!**/gold/*.pt
