CMakeCache.txt
CMakeFiles
CMakeUserPresets.json
cmake_install.cmake
CMakeDoxyfile.in
detect_cuda*
*.swp
Makefile
*.a
src/test
CTestTestfile.cmake
DartConfiguration.tcl
Testing
*.cmake
tests/*tests
.cache
compile_commands.json
coverage
doc/class-doc
*.html
.vscode
doc/doctrees
doc/html
!cmake/Modules/*
*.log
*.so
*.dylib
*.pt
!**/gold/*.pt
**/syntax.yml
build
_deps
__pycache__
conftest.py
*.pyi
neml2.egg-info
.pytest_cache
src/neml2/base/config.h
install
conftest.py
.env
*.pdf

# For MOOSE in-source build
.libs
*.la
*.so*
*.lo
*.lo.d

# graphviz
*.gv
