name: Documentation

on:
  # Triggers the workflow on push or pull request
  push:
    branches: [main]
  pull_request:
    branches: [main]
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# Newer commits should cancel old runs
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive
      - uses: actions/setup-python@v5
        with:
          python-version: "3.8"
      - run: pip install -r requirements.txt
      - run: |
          cmake \
            -DCMAKE_BUILD_TYPE=Release \
            -DCMAKE_UNITY_BUILD=ON \
            -DNEML2_UNIT=OFF \
            -DNEML2_REGRESSION=OFF \
            -DNEML2_VERIFICATION=OFF \
            -DNEML2_BENCHMARK=OFF \
            -DNEML2_PROFILING=OFF \
            -DNEML2_PYBIND=OFF \
            -DNEML2_DOC=ON \
            .
      - run: make doc-syntax -j 2
      - run: make doc-html
      - run: cat doc/doxygen.log
      - name: Preview GitHub Pages
        if: ${{ github.event_name == 'pull_request' }}
        uses: rossjrw/pr-preview-action@v1
        with:
          source-dir: doc/build/html
      - name: Deploy to GitHub Pages
        if: ${{ github.event_name == 'push' }}
        uses: JamesIves/github-pages-deploy-action@v4.4.1
        with:
          branch: gh-pages
          folder: doc/build/html
          clean-exclude: pr-preview/
          force: false
