name: Documentation

on:
  # Triggers the workflow on push or pull request
  push:
    branches: [main]
  pull_request:
    branches: [main]
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive
      - uses: actions/setup-python@v4
        with:
          python-version: "3.10"
      - run: sudo apt install doxygen graphviz
      - run: pip install torch torchvision torchaudio --extra-index-url https://download.pytorch.org/whl/cpu
      - run: cmake -DCMAKE_PREFIX_PATH="`pip show torch | grep -oP '(?<=Location:\ ).*'`/torch/share/cmake" -DDOCUMENTATION=ON .
      - run: make doc-syntax -j 2
      - run: make doc-html
      - run: cat doc/doxygen/doxygen.log
      - name: Deploy to GitHub Pages
        if: ${{ github.event_name == 'push' }}
        uses: JamesIves/github-pages-deploy-action@v4.4.1
        with:
          branch: gh-pages
          folder: doc/class-doc/html
          single-commit: true
